.App {
  background-color: rgb(0, 61, 114);
  height: 100vh;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: rgb(0, 44, 82);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  height: 60px;
 
}

.App-header-menu {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

h1 {
  color: aliceblue;
  text-align: center;
  position: relative;
  top: -15px;
}

.App-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
  align-items: center;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 0;
}


.main-div {
  width: 300px;
  border-radius: 20px;
  border: solid 3px aliceblue;
  background-color: rgb(0, 61, 114);
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  transition: ease 0.4s;
  height: fit-content;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
}

.Register-form-div,
.Login-form-div {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(0, 61, 114);
}

input {
  background-color: white;
  padding: 4px;
  border: 2px solid rgb(0, 61, 114);
  font-size: 15px;
  border-radius: 5px;
}

.btn-l-r {
  background-color: rgb(0, 61, 114);
  border: 3px solid aliceblue;
  color: aliceblue;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-l-r:hover {
  color: rgb(0, 61, 114);
  background-color: aliceblue;
  border-color: rgb(0, 61, 114);
}

.main-div:hover {
  background-color: aliceblue;
  color: rgb(0, 61, 114);
}

ul {
  list-style-type: none;
  text-align: start;
}

p {
  margin: 0;
}